body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
body,
ul,
li,
p {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #444;
}
img {
    border: 0;
}
.search {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
}
.p0 {
    padding: 0;
}
.mo{
    margin: 0;
}
.list {
    overflow: hidden;
    margin-top: 90px;
}
.list li {
    padding: 10px 0;
    height: 30vh;
}
.pro-img img {
    width: 100%;
}
.pro-info {
    border-bottom: 1px solid #ccc;
    height: 100%;
}
.info-pri {
    color: #f00;
    font-weight: bold;
    font-size: 12px;
}
.info-cmt {
    font-size: 12px;
    color: #ccc;
}